body {
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  justify-content:center;
  align-content:center;
  background-color:thistle;
  flex-wrap: wrap;
}
h1{
  background-color: #e0e0e0;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
 .nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: black;
  height: 50px;
}
.nav-links a{
  color:white;
}
.cont{
display: block;
list-style-type: disc;
margin-block-start: 2em;
margin-block-end: 4em;
margin-inline-start: 4px;
margin-inline-end: 4px;
padding-inline-start: 70px;
font-size:x-large;
letter-spacing: 0.02rem;
margin-bottom: 40px;
}
.ab{
  display: block;
  justify-content: center;
  align-items: center;
  font-size: large;
  padding-left: 0.01rem;
  padding-right: 0.3rem;
  margin-block-start: 2em;
  margin-left: 2em;
  flex-wrap: wrap;
  
}
h4{
  display: flex;
  justify-content: center;
}


.cf{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

}
.cont li{ 
  margin: 12px;
}
.ebl{
  border: 1px solid black;
  background-color:azure;

}
.tm{
  display: inline-block;
  border: 2px solid black;
  background-color: #e0e0e0;
}
.di{
  display:inline-block;
  border: 1px solid black;
  background-color: azure;
}
.na{
  margin-bottom: 20px;
}
